.myContactContainer {
  width: 60vw;
  background: #0000004f;
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
/*   margin-top: -91px;
 */}

#contact {
  display: flex;
  align-items: center;
  padding: 7rem 3rem 7rem 3rem;
}