.footer-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px; /* Adjust spacing between icons */
}

.icon {
  font-size: 1.5rem;
  transition: color 0.3s, transform 0.3s;
}

.footer-contact .icon:hover {
  color: #ffd700; /* Hover color */
  transform: scale(1.2); /* Icon scale on hover */
}
