.education-container {
  padding: 2rem 0;
}

.education-card {
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background: linear-gradient(135deg, #1f4037, #99f2c8); /* Gradient */
  color: white;
}

.section-title {
  text-align: center;
  font-weight: 600;
  margin-bottom: 2rem;
  font-family: 'Poppins', sans-serif;
}
  

.css-1x77y66{
  background-color: #0a2f22 !important;
}
.css-v1pkve{
  background-color: #0d2029 !important;
}